@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400..900&display=swap");
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

html {
  font-size: 62.5%;
}
html img {
  max-width: 100%;
  height: auto;
}
html body {
  max-width: 390px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
}
html body #purchase {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 330px;
  height: 61px;
  display: flex;
  border-radius: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.6rem;
  background: linear-gradient(90deg, #ff5817, #ffea00);
  background-size: 150% 100%;
  background-position: left;
  transition: background-position 0.3s ease-in-out;
  font-size: 1.6rem;
  color: #fff;
}
html body #purchase .off {
  font-size: 2.4rem;
}
html body #purchase .arrow {
  font-size: 2.4rem;
}
html body #purchase:hover {
  background-position: right;
}
html body #top {
  margin: 0 auto;
  padding: 3rem;
  max-width: 600px;
  height: 844px;
  background-image: url("../images/topImg_s.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body #top .logo {
  align-self: flex-end;
}
html body #top .title {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 34px;
}
html body #top .title span {
  display: block;
  line-height: 1;
  margin-bottom: 0.2em;
}
html body #top .title span:nth-child(2),
html body #top .title :last-child {
  margin-bottom: 0;
}
html body #top .topText {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1.6rem;
  color: #fff;
  font-feature-settings: "palt";
  text-align: center;
}
html body #product_concept {
  max-width: 600px;
  background-color: #e8ddd3;
  margin: 0 auto;
}
html body #product_concept .concept_wraper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  isolation: isolate;
}
html body #product_concept .concept_wraper .circle-bg {
  position: absolute;
  width: 330px;
  height: 300px;
  background-color: rgba(253, 251, 248, 0.65);
  border-radius: 50%;
  filter: blur(50px);
  z-index: 0;
}
html body #product_concept .concept_wraper #conceptText {
  position: relative;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body #product_concept .concept_wraper #conceptText .secTitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 24px;
}
html body #product_concept .concept_wraper #conceptText #conceptText,
html body #product_concept .concept_wraper #conceptText p {
  font-size: 1.6rem;
  line-height: 2;
  color: #2c3e3d;
}
html body #product_concept .imgContainer {
  position: relative;
  max-width: 600px;
  height: 600px;
  overflow: hidden;
}
html body #product_concept .imgContainer #ani_item,
html body #product_concept .imgContainer #ani_cica,
html body #product_concept .imgContainer #ani_sea,
html body #product_concept .imgContainer #ani_tangerine {
  position: absolute;
}
html body #product_concept .imgContainer #ani_item {
  top: 0;
  left: 20%;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
html body #product_concept .imgContainer #ani_cica {
  top: 10%;
  right: 5%;
}
html body #product_concept .imgContainer #ani_sea {
  bottom: 10%;
  left: 30%;
}
html body #product_concept .imgContainer #ani_tangerine {
  bottom: 10px;
  right: 5%;
}
html body #line_up {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 6rem;
  border-bottom: 1px solid #2c3e3d;
  gap: 3rem;
  background-color: #f5f1ed;
}
html body #line_up .line_up_heading {
  font-size: 2.4rem;
  font-weight: 700;
}
html body #line_up .line_up_lead {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}
html body #line_up .line_up_text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}
html body #product_card {
  display: flex;
  flex-direction: column;
  background-color: #f5f1ed;
  padding: 6rem 3rem;
}
html body #product_card #productImg #productImg img {
  width: 100%;
  height: 100%;
}
html body #product_card .product-details {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
html body #product_card .product-details span:nth-child(1) {
  font-size: 1.4rem;
}
html body #product_card .product-details span:nth-child(2) {
  font-size: 2rem;
}
html body #product_card .product-details span:nth-child(3) {
  font-size: 1.6rem;
}/*# sourceMappingURL=style.css.map */