@use '../global/index' as *;
@use '../common/index' as *;
// globalディレクトリにはCSS変数とミックスインが入っているので、それを呼び出し
// asによる名前空間指定でアスタリスク(*)を使うと、index、の記述が省略できます。
html {
  // font-feature-settings: 'palt';
  font-size: 62.5%;
  img {
    max-width: 100%;
    height: auto;
  }
  body {
    max-width: 390px;
    margin: 0 auto;
    font-family: $mainTextFont;
    // 固定ボタン
    #purchase {
      position: fixed;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;

      width: 330px;
      height: 61px;
      display: flex;
      border-radius: 5rem;
      justify-content: space-between;
      align-items: center;
      padding-inline: 1.6rem;
      background: linear-gradient(90deg, #ff5817, #ffea00);
      background-size: 150% 100%;
      background-position: left;
      transition: background-position 0.3s ease-in-out;
      font-size: 1.6rem;
      color: $whiteTextColor;
      .off {
        font-size: 2.4rem;
      }

      .arrow {
        font-size: 2.4rem;
      }
    }
    #purchase:hover {
      background-position: right;
    }

    // ファーストビュー
    #top {
      margin: 0 auto;
      padding: 3rem;
      max-width: 600px;
      height: 844px;
      background-image: url('../images/topImg_s.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo {
        align-self: flex-end;
      }
      .title {
        font-size: 4.8rem;
        font-weight: 700;
        color: $whiteTextColor;
        text-align: center;
        padding-top: 34px;

        span {
          display: block;
          line-height: 1;
          margin-bottom: 0.2em;
        }

        span:nth-child(2),
        :last-child {
          margin-bottom: 0;
        }
      }

      .topText {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 1.6rem;
        color: $whiteTextColor;
        font-feature-settings: 'palt';
        text-align: center;
      }
    }

    // セクション01 写真のアニメーション
    #product_concept {
      max-width: 600px;
      background-color: #e8ddd3;
      margin: 0 auto;

      .concept_wraper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        isolation: isolate;

        .circle-bg {
          position: absolute;
          width: 330px;
          height: 300px;
          background-color: rgba(253, 251, 248, 0.65);
          border-radius: 50%;
          filter: blur(50px);
          z-index: 0;
        }

        #conceptText {
          position: relative;
          text-align: center;
          z-index: 1;
          display: flex;
          flex-direction: column;
          align-items: center;

          .secTitle {
            @include secTitle;
            text-align: center;
            margin-bottom: 24px;
          }

          #conceptText,
          p {
            font-size: 1.6rem;
            line-height: 2;
            color: $textColor;
          }
        }
      }

      .imgContainer {
        position: relative; // ←これが大事！
        max-width: 600px;
        height: 600px; // セクションの高さを調整
        overflow: hidden; //

        #ani_item,
        #ani_cica,
        #ani_sea,
        #ani_tangerine {
          position: absolute;
        }

        #ani_item {
          top: 0;
          left: 20%;
          margin: 0 auto;
          width: fit-content;
        }
        #ani_cica {
          top: 10%;
          right: 5%;
        }
        #ani_sea {
          bottom: 10%;
          left: 30%;
        }
        #ani_tangerine {
          bottom: 10px;
          right: 5%;
        }
      }
    }

    // セクション02　skincare lineup
    #line_up {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: 6rem;
      border-bottom: 1px solid $textColor;

      gap: 3rem;
      background-color: $mainbg02;
      .line_up_heading {
        font-size: 2.4rem;
        font-weight: $bold;
      }
      .line_up_lead {
        font-size: 2.4rem;
        font-weight: $medium;
        text-align: center;
      }
      .line_up_text {
        font-size: 1.6rem;
        font-weight: $regular;
        line-height: 2;
        text-align: center;
      }
    }

    // <!-- セクション03 商品紹介 -->
    #product_card {
      display: flex;
      flex-direction: column;
      background-color: $mainbg02;
      padding: 6rem 3rem;

      #productImg {
        width: auto;
        max-height: 455px;

        #productImg img {
          width: 100%;
          height: 100%;
        }
      }
      .product-details {
        line-height: 1.5;
        display: flex;
        flex-direction: column;

        span:nth-child(1) {
          font-size: 1.4rem;
          color: $subTextColor;
          line-height: 1;
        }

        span:nth-child(2) {
          font-size: 2rem;
        }

        span:nth-child(3) {
          font-size: 1.6rem;
        }
      }
      .product_prices {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-block-start: 2.4rem;
        .regular_price {
          font-size: 1.6rem;
          color: $subTextColor;
          line-height: 1;
          .old {
            position: relative;
            display: inline-block;
          }

          .old::after {
            content: '';
            position: absolute;
            left: -0.5em;
            right: -0.5em;
            top: 50%;
            height: 1px;
            background-color: $subTextColor;
            transform: translateY(-50%);
          }
        }
        .special_price {
          font-size: 1.6rem;
          color: $textColor;
          line-height: 1;

          .new {
            font-size: 3.6rem;
          }
        }
      }
    }

    // <!-- セクション04 商品説明 -->
    #product_text {
      background-color: $mainbg02;
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      padding-inline: 3rem;
      padding-block-end: 6rem;
      h2 {
        font-size: 2rem;
        font-weight: $medium;
        line-height: 1.5;
      }
      p {
        font-size: 1.6rem;
      }
    }

    // <!-- セクション05 特徴成分 -->
    #ingredients {
      background-color: $mainbg02;
      padding-inline: 3rem;
      padding-block-end: 6rem;
      h3 {
        display: inline-block;
        font-size: 2rem;
        line-height: 1;
        font-weight: $regular;
      }
      .ingredient_list {
        display: flex;
        flex-direction: column;
        padding-block-end: 3rem;
        border-bottom: 1px solid $subTextColor;
      }
      .ingredients_item {
        display: flex;
        gap: 3rem;
        padding-block-end: 3rem;
      }
      .ingredients_text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        h4 {
          font-size: 1.6rem;
          color: $textColor;
          font-weight: $regular;
          line-height: 1;
        }
        p {
          font-size: 1.4rem;
          color: $subTextColor;
          line-height: 1.5;
        }
      }
    }

    // <!-- セクション06 口コミ -->
    #reviews {
      background-image: url(../images/review_bg.png);
      padding: 3rem;

      .review_title {
        display: block;
        padding-block: 3rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: $medium;
        color: $titleColor;
      }
      .reviews_card {
        background-color: $review;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-block-end: 3rem;
        .review_header {
          display: flex;
          gap: 3rem;
          align-items: center;
          .avatar {
            background-color: $avatar;
            width: 8rem;
            height: 8rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.4rem;
            color: $review;
          }
          .user {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            .userName {
              font-size: 1.6rem;
              font-weight: $medium;
              color: $textColor;
              line-height: 1;
            }
            .userMeta {
              font-size: 1.4rem;
              color: $textColor;
              line-height: 1;
            }
          }
        }
        .rating {
          display: flex;
          gap: 1.6rem;
          align-items: center;
          justify-content: center;
          line-height: 1;
          .stars {
            font-size: 2rem;
            color: $star;
          }
          .score {
            font-size: 1.6rem;
            color: $textColor;
          }
        }
        .review_read {
          font-size: 1.6rem;
          font-weight: $medium;
          text-align: center;
        }
        .review_text {
          font-size: 1.4rem;
          line-height: 1.5;
        }
      }
    }

    // <!-- セクション07 選ばれる理由 -->
    #reasons {
      background-color: $mainbg02;
      padding: 6rem 3rem;
      .secTitle {
        color: $titleColor;
        text-align: center;
        span {
          font-size: 2.4rem;
          line-height: 1;
          font-weight: $medium;
          margin-bottom: 0.2em;
        }
        font-size: 2rem;
      }
      .points {
        display: flex;
        gap: 3rem;
        padding-block: 3rem 6rem;
        border-bottom: 1px solid $subTextColor;
        .icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          .iconTitle01 {
            font-size: 1.4rem;
            font-weight: $bold;
            color: $babyblue;
            text-align: center;
          }
          .iconTitle02 {
            font-size: 1.4rem;
            font-weight: $bold;
            color: $babygreen;
            text-align: center;
          }
          .iconTitle03 {
            font-size: 1.4rem;
            font-weight: $bold;
            color: $subTextColor;
            text-align: center;
          }
        }
        .pointText {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .point123 {
            font-size: 1.4rem;
            font-weight: $medium;
            color: $point123;
          }
          h4 {
            font-size: 1.6rem;
            font-weight: $medium;
          }
          .point_details {
            font-size: 1.4rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
